<style>
.main-footer {
    color:whitesmoke;
    background-color: #669DB3FF;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
}
</style>

<div className = "main-footer">
    <div className = "container">
      <div className = "row">
        <div className = "col">
          <h4>DocConnect</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Maecenas tristique est eu leo ultricies condimentum.
          </p>
        </div>

        <div className = "col">
          <h4>Created by:</h4>
          <ul className = "list-unstyled">
            <li>Aneesh Chattaraj</li>
            <li>Hình Mỹ Tiên</li>
            <li>Ragav Narayanan</li>
            <li>Sophie Tan</li>
            <li>Zhi Jie Siow</li>
          </ul>
        </div>
      </div>

      <div className = "row">
        <p className = "col-sm">
         DocConnect | All rights reserved
        </p>
      </div>
    </div>
  </div>