<!DOCTYPE html> 
<html> 
<head> 
    <title> Profile Page</title> 
          
          
      
</head> 
<div class="topnav">
    <div class="topnav">
      
      <a href="/logout">Log out</a>
      
    </div>
  </div>
<body> 
    
    <div class = "search">
        <h1> Hi <%=name%>! </h1>
    </div>

</body> 

</html>