<!DOCTYPE html> 
<html> 
<head> 
  <title> Profile Page</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>

    .btn-default{
        background-color: #428BCA;
        color:#FFF;
        border-color: #428BCA;
    }
        
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #23527b;
    color:#FFF;
    border-color: #23527b;
    }

  </style>
</head> 

<nav>
  <%- include('partials/navbarLoggedIn.ejs'); %>
</nav>

<body> 
    
    <div class = "search">
        <h1>  <%=name%>'s Profile </h1>
    </div>


    <div class="record-content">
      <h1>Search record</h1>

    </div>
</body> 

<footer>
  <%- include('partials/footer.ejs'); %>
</footer>

</html>