<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Sign Up </title>
    
</head>
<div class="topnav">
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a class="active" href="/signuppatient">Sign Up</a>

    </div>
</div>
<script>
    function validate()
    {   
        var pwd = document.getElementById("password").value;
        var cfmpwd = document.getElementById("cfmpassword").value;
        if (pwd != cfmpwd)
        {
            alert("Password and confirm password must match");
            return false;
        }
        return true;
    }
</script>
<body>
    <h2> Create Account </h2>
    <div class ="form">
    <form action="/patientcreateuser" method="post" onsubmit="return validate()">

    <div class="container" >
            <!--<label for="name"><b>Name</b></label><br>-->
            <input type="text" name="name" id="name"
            placeholder="Name"  required><br>

            <!--<label for="name"><b>E-Mail</b></label><br>-->
            <input type="email" name="email" id="email"
            placeholder="Email e.g. username@gmail.com"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  required><br>

            <!--<label for="name"><b>Password</b></label><br>-->
            <input type="password" name="password" minlength="3"
            id="password" placeholder="Password: minimum length 3 " required><br>

            <input type="password" name="cfmpassword"
            id="cfmpassword" placeholder="Re-enter Password " required><br>

             <button type="submit">Continue</button>
    </div>
    </form>
</div>

</body>
</html>