<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Sign Up </title>

    <style>

        .btn-default{
            background-color: #428BCA;
            color:#FFF;
            border-color: #428BCA;
        }
            
        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        background-color: #23527b;
        color:#FFF;
        border-color: #23527b;
        }

    </style>

</head>
<script>
    function validate()
    {   
        var pwd = document.getElementById("password").value;
        var cfmpwd = document.getElementById("cfmpassword").value;
        if (pwd != cfmpwd)
        {
            alert("Password and confirm password must match");
            return false;
        }
        return true;
    }
</script>

<nav>
    <%- include('partials/navbar.ejs'); %>
</nav>

<body>
    <div class="container" style="margin-top: 3em;">
        <div class="row justify-content-center mt-1">
            <h1 className="display-4">Create Account</h1>
        </div>
        <div class="row justify-content-center mt-1">
            <p className="lead text-center">
                Patient Sign Up
            </p>
        </div>

        <div class ="form">
            <form action="/patientcreateUser" method="post" onsubmit="return validate()">

                <input class="form-control" type="text" name="name" id="name"
                placeholder="Name"  required><br>

                    <input class="form-control" type="email" name="email" id="email" aria-describedby="emailHelp"
                    placeholder="Email e.g. username@gmail.com"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  required><br>
                    
                    <input class="form-control" type="password" name="password" minlength="3"
                    id="password" placeholder="Password: minimum length 3 " required><br>
                    
                    <input class="form-control" type="password" name="cfmpassword"
                    id="cfmpassword" placeholder="Re-enter Password " required><br>

                    <h2 className="display-4">Patient History</h2>

                    <div class="form-group">
                        <label for="DOB">Date of Birth</label> 
                        <input type="date" class="form-control" name="date" id="date" placeholder="Date" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)
                        (?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|
                        (?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" required>
                        <small id="DateHelp" class="form-text text-muted">Enter Date in the format dd/mm/yyyy.</small>
                    </div>
        
                    <div class="form-group">
                        <input type="number" class="form-control" name="height" id="height" placeholder="Height in CM" pattern="^[0-9]*$" required>
                        <small id="HeightHelp" class="form-text text-muted">Enter your height in centimeters.</small>
                    </div>
        
                    <div class="form-group">
                        <input type="number" class="form-control" name="weight" id="weight" placeholder="Weight in KG" pattern="^[0-9]*$" required>
                        <small id="WeightHelp" class="form-text text-muted">Enter your weight in Kilograms.</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Contact no."  required>
                        <small id="WeightHelp" class="form-text text-muted">Enter your Contact details!</small>
                    </div>
        
                    <div class="form-group">
                        <input type="text" class="form-control" name="ethnicity" id="ethnicity" placeholder="Ethnicity/Race" required>
                        <small id="ethnicity" class="form-text text-muted">What is your ethnicity/race? (enter DECLINE if you do not wish to answer).</small>
                    </div>
        
                    <div class="form-group">
                        <label for="gender">What is your current gender identity?</label>
                        <input type="text" class="form-control" name="gender" id="gender" placeholder="Please specify!"  required>
                    </div>
                    <div class="form-group">
                        <label for="sex">What sex were you assigned at birth? (Choose one)</label>
                        <select class="form-control" name="sex" id="sex" required>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                            <option>Decline to Answer</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="Alcohol">Use of Alcohol</label>
                        <select class="form-control" name="Alcohol" id="Alcohol" required>
                            <option>Never</option>
                            <option>Rarely</option>
                            <option>Moderate</option>
                            <option>Daily</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="Tobacco">Use of Tobacco</label>
                        <select class="form-control" id="Tobacco" name="Tobacco"required>
                            <option>Never</option>
                            <option>Previously but quit</option>
                            <option>Yes</option>
                        </select>
                    </div>
        
        
        
                    <div class="form-group">
                        <label for="drugUse">Have you used any other drugs? How often? (not including prescriptions)</label>
                        <textarea class="form-control" id="drugUse" name="drugUse"rows="3"></textarea>
                        <small id="instructions" class="form-text text-muted">List all, separated by commas. Format: drug - numberOfTimesPerMonth, drug - numberOfTimesPerMonth, drug - numberOfTimesPerMonth, etc.</small>
                    </div>
        
                    <div class="form-group">
                        <label for="prescribed">What medications have you been prescribed (current or past)?</label>
                        <textarea class="form-control" id="prescribed" name="prescribed"rows="3"></textarea>
                        <small id="instructions" class="form-text text-muted">List all, separated by commas. Format: medication - present, medication - years since, medication - years since, etc.</small>
                    </div>
        
                    <div class="form-group">
                        <label for="diseases">What severe or chronic illnesses (if any) do you currently suffer from?</label>
                        <textarea class="form-control" id="currentIllnesses" name="diseases"rows="3"></textarea>
                        <small id="instructions" class="form-text text-muted">List all, separated by commas and no other punctuation.</small>
                    </div>
                    <div class="form-group">
                        <label for="injuryHistory">List previous hospitalisations/surgeries/injuries and when they occurred</label>
                        <textarea class="form-control" name="injuryHistory"id="injuryHistory" rows="3"></textarea>
                        <small id="instructions" class="form-text text-muted">List all, separated by commas. Format: injury - dd/mm/yyyy, hopitalisation - dd/mm/yyyy, surgery - dd/mm/yyyy, etc.</small>
                    </div>
                    <div class="form-check" style="margin-bottom: 2px;">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                        <label class="form-check-label" for="exampleCheck1">All of the answers above are accurate to 
                            the best of my knowledge. I understand that providing incorrect information can be dangerous 
                            to my (or patient's) health. It is my responsibility to inform DocConnect of any changes in medical status</label>
                    </div>

                    <button type="submit" class="btn btn-default btn-block">Submit</button>

                    <a href="/loginpatient" class="btn btn-link btn-block">Already have an account?</a>
                </div>
            </form>
        </div>
    </div>
</body>

<footer>
    <%- include('partials/footer.ejs'); %>
</footer>

</html>